<launch>
  <!-- rosparam  robot_description  -->
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_description)/robots/pr2.urdf.xacro'" />

  <!--  rosbag  -->
  <node pkg="rosbag" name="play" type="play"
        args="$(find calibration_estimation)/example/cal_measurements.bag  --rate 35"/>

  <!-- rxbag -->
  <!--   <node pkg="rxbag" name="rxbag" type="rxbag" args="$(find calibration_estimation)/example/cal_measurements.bag"/> -->

  <!--  rviz  -->
  <node pkg="rviz" name="rviz" type="rviz"
        args="-d $(find calibration_estimation)/example/config.rviz" />

  <!-- visualization -->
  <node pkg="calibration_estimation" name="visualization" type="visualization" />

  <!--   robot_state_publisher -->
  <node pkg="robot_state_publisher" name="robot_state_publisher" type="state_publisher" />

</launch>
